@using Syncfusion.EJ2
@using Syncfusion.EJ2.Notifications;
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <!-- Custom fonts for this template-->
    <link href="~/Thema/startbootstrap-sb-admin-2-gh-pages/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <!-- Custom styles for this template-->
    <link href="~/Thema/startbootstrap-sb-admin-2-gh-pages/css/sb-admin-2.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="alert alert-info" style="display:none" id="basarili">Giriş Başarılı</div>
                <div class="alert alert-danger" style="display:none" id="hata">Giriş Başarısız</div>
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block ">

                                <img src="~/Thema/startbootstrap-sb-admin-2-gh-pages/img/undraw_profile.svg" />
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>
                                    @*@using (Html.BeginForm("Login", "User", FormMethod.Post))
                                        {*@
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user"
                                               name="Email" aria-describedby="emailHelp" id="email"
                                               placeholder="Enter Email Address...">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user" id="password"
                                               name="Password" placeholder="Password">
                                    </div>
                                    @*<input type="submit" id="login" class="btn btn-primary btn-user btn-block" value="Login" />*@
                                    <input type="button" id="login" class="btn btn-primary btn-user btn-block" value="Login" />

                                    @*}*@
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="/User/Register">Create an Account!</a>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>




    <!-- Bootstrap core JavaScript-->

    <script src="~/Thema/startbootstrap-sb-admin-2-gh-pages/vendor/jquery/jquery.min.js"></script>

    <script src="~/Thema/startbootstrap-sb-admin-2-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <!-- Core plugin JavaScript-->

    <script src="~/Thema/startbootstrap-sb-admin-2-gh-pages/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->

    <script src="~/Thema/startbootstrap-sb-admin-2-gh-pages/js/sb-admin-2.min.js"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/toastr.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {


            $("#login").click(function () {

                var data = new Object();
                data.Email = $('#email').val();
                data.Password = $('#password').val();
                var durum = 0;
                $.ajax({
                    type: "POST",
                    url: '/User/Login',
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {

                        if (data) {
                            toastr.success("Lütfen bekleyin yönlendiriliyorsunuz..", "Login başarılı", { timeOut: 3000 })
                            window.location.href = "/Student/Index";
                        }
                        else {
                            toastr.error("Lütfen Kullanıcı adı ve şifrenizi kontrol ediniz", "Login başarısız", { timeOut: 3000 })



                        }
                    },
                    error: function Error() {
                        alert("eror")
                    }
                });
            });
        });


    </script>

</body>

</html>
