@model IstanbulUni.DAL.Model.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserAdd</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm("UserAdd", "User", FormMethod.Post))
    {
        <div class="form-group">
            @Html.Label("Email")
            @Html.TextBoxFor(x => x.Email)
            <br />
            @Html.Label("Password")
            @Html.TextBoxFor(x => x.Password)
            <br />
           <button>Kaydet</button>

        </div>

    }
</body>
</html>
