
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/kendo/2021.2.616/kendo.all.min.js"></script>
<script src="~/Scripts/kendo/2021.2.616/jquery.min.js"></script>
@(Html.Kendo().Button()
    .Name("textButton")
    .HtmlAttributes( new {type = "button"} )
    .Content("Text Button")
)

<div class="demo-section">
    <form id="employeeForm" data-role="validator" novalidate="novalidate">
        <ul id="fieldlist">
            <li>
                <label for="FirstName">First Name:</label>
                <span class="k-textbox k-input k-input-md k-rounded-md k-input-solid">
                    <input type="text" class="k-input-inner" name="Name" id="Name" required="required" />
                </span>
            </li>
            <li>
                <label for="Surname">Surname:</label>
                <span class="k-textbox k-input k-input-md k-rounded-md k-input-solid">
                    <input type="text" class="k-input-inner" name="Surname" id="Surname" required="required" />
                </span>
            </li>
            <li>
                <label for="Surname">E-Mail:</label>
                <span class="k-textbox k-input k-input-md k-rounded-md k-input-solid">
                    <input type="text" class="k-input-inner" name="email" id="email" required="required" />
                </span>
            </li>
            <li>
                <label for="Phone">Phone Number:</label>
                @(Html.Kendo().MaskedTextBox()
                      .Name("Phone")
                      .Mask("(000) 000-00-00")
                      .HtmlAttributes(new {
                        data_validmask_msg = "Phone number is incomplete",
                        required = "required",
                        style = "width: 100%;"
                      })
                )
                <span data-for='Phone' class='k-invalid-msg'></span>
            </li>
            <li>
                <label for="Surname">User Name:</label>
                <span class="k-textbox k-input k-input-md k-rounded-md k-input-solid">
                    <input type="text" class="k-input-inner" name="username" id="username" required="required" />
                </span>
            </li>
            <li>
                <label for="Surname">Password:</label>
                <span class="k-textbox k-input k-input-md k-rounded-md k-input-solid">
                    <input type="text" class="k-input-inner" name="password" id="password" required="required" />
                </span>
            </li>
            <li class="actions">
                <button type="button" data-role="button" data-icon="check" data-click='save'>Register</button>
            </li>
        </ul>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var container = $("#employeeForm");
        kendo.init(container);
        container.kendoValidator({
            rules: {
                validmask: function (input) {
                    if (input.is("[data-validmask-msg]") && input.val() != "") {
                        var maskedtextbox = input.data("kendoMaskedTextBox");
                        return maskedtextbox.value().indexOf(maskedtextbox.options.promptChar) === -1;
                    }

                    return true;
                }
            }
        });
    });

    function save(e) {
        var validator = $("#employeeForm").data("kendoValidator");
        if (validator.validate()) {
            alert("Employee Saved");
        }
    }

</script>

<style>

    #fieldlist {
        margin: 0 0 -2em;
        padding: 0;
    }

        #fieldlist li {
            list-style: none;
            padding-bottom: 2em;
        }

        #fieldlist label {
            display: block;
            padding-bottom: 1em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
        }

        #fieldlist input {
            width: 100%;
        }

    span.k-tooltip {
        margin-top: 5px;
        line-height: 1.7em;
        width: 100%;
        box-sizing: border-box;
        text-align: left;
    }
</style>

